@font-face {
    font-family: "Gilroy-Bold";
    src: url('./assets/fonts/Gilroy-Bold.woff');
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url('./assets/fonts/Gilroy-SemiBold.woff');
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url('./assets/fonts/Gilroy-Medium.woff');
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url('./assets/fonts/Gilroy-Regular.woff');
}

body {
  font-family: "Gilroy-Regular";
    background-color: #FFF1F1
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@tailwind base;
@tailwind components;
@tailwind utilities;